body {
  margin: 0;
  font-family:'Superspace';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Superspace-bold;
  src: url(./Assets/Fonts/Superspace-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Superspace-light;
  src: url(./Assets/Fonts/Superspace-Light.ttf);
  font-weight: light;
}
@font-face {
  font-family: Superspace;
  src: url(./Assets/Fonts/Superspace-Regular.ttf);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}